In [1]:
import gc # сборщик мусора

import matplotlib.pyplot as plt
import matplotlib.image as img
import seaborn as sns
%matplotlib inline
import numpy as np 
import pandas as pd

In [26]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

KeyboardInterrupt:

In [27]:
y_id = pd.read_csv("test.csv")

In [31]:
y_id.head()

0    4000000
1    4000001
2    4000002
3    4000003
4    4000004
Name: Id, dtype: int64

In [30]:
y_id = y_id['Id']

In [3]:
test.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,4000000,2763,78,20,377,88,3104,218,213,195,...,0,0,0,0,0,0,0,0,0,0
1,4000001,2826,153,11,264,39,295,219,238,148,...,0,0,0,0,0,0,0,0,0,0
2,4000002,2948,57,19,56,44,852,202,217,163,...,0,0,1,0,0,0,0,0,0,0
3,4000003,2926,119,6,158,134,2136,234,240,142,...,0,0,0,0,0,0,0,0,0,0
4,4000004,2690,10,4,38,108,3589,213,221,229,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,0,3189,40,8,30,13,3270,206,234,193,...,0,0,0,0,0,0,0,0,0,1
1,1,3026,182,5,280,29,3270,233,240,106,...,0,0,0,0,0,0,0,0,0,2
2,2,3106,13,7,351,37,2914,208,234,137,...,0,0,0,0,0,0,0,0,0,1
3,3,3022,276,13,192,16,3034,207,238,156,...,0,0,0,0,0,0,0,0,0,2
4,4,2906,186,13,266,22,2916,231,231,154,...,0,0,0,0,0,0,0,0,0,2

In [5]:
train = train.drop(columns='Id')

In [6]:
test = test.drop(columns='Id')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 55 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Elevation                           int64
 1   Aspect                              int64
 2   Slope                               int64
 3   Horizontal_Distance_To_Hydrology    int64
 4   Vertical_Distance_To_Hydrology      int64
 5   Horizontal_Distance_To_Roadways     int64
 6   Hillshade_9am                       int64
 7   Hillshade_Noon                      int64
 8   Hillshade_3pm                       int64
 9   Horizontal_Distance_To_Fire_Points  int64
 10  Wilderness_Area1                    int64
 11  Wilderness_Area2                    int64
 12  Wilderness_Area3                    int64
 13  Wilderness_Area4                    int64
 14  Soil_Type1                          int64
 15  Soil_Type2                          int64
 16  Soil_Type3                          int64
 17  Soil_Type4                          int64
 18  Soil_Type5                          int64
 19  Soil_Type6                          int64
 20  Soil_Type7                          int64
 21  Soil_Type8                          int64
 22  Soil_Type9                          int64
 23  Soil_Type10                         int64
 24  Soil_Type11                         int64
 25  Soil_Type12                         int64
 26  Soil_Type13                         int64
 27  Soil_Type14                         int64
 28  Soil_Type15                         int64
 29  Soil_Type16                         int64
 30  Soil_Type17                         int64
 31  Soil_Type18                         int64
 32  Soil_Type19                         int64
 33  Soil_Type20                         int64
 34  Soil_Type21                         int64
 35  Soil_Type22                         int64
 36  Soil_Type23                         int64
 37  Soil_Type24                         int64
 38  Soil_Type25                         int64
 39  Soil_Type26                         int64
 40  Soil_Type27                         int64
 41  Soil_Type28                         int64
 42  Soil_Type29                         int64
 43  Soil_Type30                         int64
 44  Soil_Type31                         int64
 45  Soil_Type32                         int64
 46  Soil_Type33                         int64
 47  Soil_Type34                         int64
 48  Soil_Type35                         int64
 49  Soil_Type36                         int64
 50  Soil_Type37                         int64
 51  Soil_Type38                         int64
 52  Soil_Type39                         int64
 53  Soil_Type40                         int64
 54  Cover_Type                          int64
dtypes: int64(55)
memory usage: 1.6 GB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 54 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Elevation                           1000000 non-null  int64
 1   Aspect                              1000000 non-null  int64
 2   Slope                               1000000 non-null  int64
 3   Horizontal_Distance_To_Hydrology    1000000 non-null  int64
 4   Vertical_Distance_To_Hydrology      1000000 non-null  int64
 5   Horizontal_Distance_To_Roadways     1000000 non-null  int64
 6   Hillshade_9am                       1000000 non-null  int64
 7   Hillshade_Noon                      1000000 non-null  int64
 8   Hillshade_3pm                       1000000 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  1000000 non-null  int64
 10  Wilderness_Area1                    1000000 non-null  int64
 11  Wilderness_Area2                    1000000 non-null  int64
 12  Wilderness_Area3                    1000000 non-null  int64
 13  Wilderness_Area4                    1000000 non-null  int64
 14  Soil_Type1                          1000000 non-null  int64
 15  Soil_Type2                          1000000 non-null  int64
 16  Soil_Type3                          1000000 non-null  int64
 17  Soil_Type4                          1000000 non-null  int64
 18  Soil_Type5                          1000000 non-null  int64
 19  Soil_Type6                          1000000 non-null  int64
 20  Soil_Type7                          1000000 non-null  int64
 21  Soil_Type8                          1000000 non-null  int64
 22  Soil_Type9                          1000000 non-null  int64
 23  Soil_Type10                         1000000 non-null  int64
 24  Soil_Type11                         1000000 non-null  int64
 25  Soil_Type12                         1000000 non-null  int64
 26  Soil_Type13                         1000000 non-null  int64
 27  Soil_Type14                         1000000 non-null  int64
 28  Soil_Type15                         1000000 non-null  int64
 29  Soil_Type16                         1000000 non-null  int64
 30  Soil_Type17                         1000000 non-null  int64
 31  Soil_Type18                         1000000 non-null  int64
 32  Soil_Type19                         1000000 non-null  int64
 33  Soil_Type20                         1000000 non-null  int64
 34  Soil_Type21                         1000000 non-null  int64
 35  Soil_Type22                         1000000 non-null  int64
 36  Soil_Type23                         1000000 non-null  int64
 37  Soil_Type24                         1000000 non-null  int64
 38  Soil_Type25                         1000000 non-null  int64
 39  Soil_Type26                         1000000 non-null  int64
 40  Soil_Type27                         1000000 non-null  int64
 41  Soil_Type28                         1000000 non-null  int64
 42  Soil_Type29                         1000000 non-null  int64
 43  Soil_Type30                         1000000 non-null  int64
 44  Soil_Type31                         1000000 non-null  int64
 45  Soil_Type32                         1000000 non-null  int64
 46  Soil_Type33                         1000000 non-null  int64
 47  Soil_Type34                         1000000 non-null  int64
 48  Soil_Type35                         1000000 non-null  int64
 49  Soil_Type36                         1000000 non-null  int64
 50  Soil_Type37                         1000000 non-null  int64
 51  Soil_Type38                         1000000 non-null  int64
 52  Soil_Type39                         1000000 non-null  int64
 53  Soil_Type40                         1000000 non-null  int64
dtypes: int64(54)
memory usage: 412.0 MB

In [9]:
train.isna().sum()

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
Cover_Type                            0
dtype: int64

In [10]:
test.isna().sum()

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
dtype: int64

In [11]:
X = train.loc[:, train.columns != 'Cover_Type']
y = train.loc[:, train.columns == 'Cover_Type']

In [12]:
X.shape

(4000000, 54)

In [13]:
y.shape

(4000000, 1)

In [14]:
y.head()

   Cover_Type
0           1
1           2
2           1
3           2
4           2

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [16]:
scaler = MinMaxScaler(feature_range=(0, 1))

scaler.fit(X)

X_stan = scaler.transform(X)

In [17]:
scaler = MinMaxScaler(feature_range=(0, 1))

scaler.fit(test)

test_stan = scaler.transform(test)

In [18]:
X_stan.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
y.head()

In [18]:
# подключим необходимые библиотеки
from sklearn.model_selection import train_test_split
# импортируем необходимые классификаторы
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

# имортируем метрики для оценки классифкаторов
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score
X_train, X_test, y_train, y_test = train_test_split(X_stan, y, test_size=0.3, random_state=50)
# Создадим модели классификаторов с дефолтным набором гиперпараметров
catboost = CatBoostClassifier(verbose = 200,random_state = 50, task_type="GPU")

accuracy = []

models = [catboost]

for model in models:
    print(model)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    accuracy.append(accuracy_score(y_test, y_pred))
    
df_score = pd.DataFrame({'models': models, 'accuracy': accuracy})
df_score

<catboost.core.CatBoostClassifier object at 0x0000013E6AB5A460>
Learning rate set to 0.327721
0:	learn: 0.7343371	total: 110ms	remaining: 1m 49s
200:	learn: 0.1002187	total: 16.2s	remaining: 1m 4s
400:	learn: 0.0895590	total: 32.2s	remaining: 48s
600:	learn: 0.0850317	total: 48.1s	remaining: 31.9s
800:	learn: 0.0821178	total: 1m 3s	remaining: 15.9s
999:	learn: 0.0799976	total: 1m 19s	remaining: 0us

                                              models  accuracy
0  <catboost.core.CatBoostClassifier object at 0x...  0.960569

In [19]:
sub = catboost.predict(test_stan)

In [49]:
sub_df = pd.DataFrame(sub, columns=['Cover_Type'])

In [50]:
sub_df.head()

   Cover_Type
0           2
1           2
2           2
3           2
4           2

In [51]:
sub_df.shape

(1000000, 1)

In [2]:
test = pd.read_csv("test.csv")
sub_sd1 = pd.read_csv("sub2.csv")

In [6]:
test = test['Id']

In [7]:
test.head()

0    4000000
1    4000001
2    4000002
3    4000003
4    4000004
Name: Id, dtype: int64

In [8]:
test_df = pd.DataFrame(test, columns=['Id'])

In [9]:
test_df.head()

        Id
0  4000000
1  4000001
2  4000002
3  4000003
4  4000004

In [19]:
sub_sd1['Id'] = test_df['Id']

In [12]:
sub_sd1 = sub_sd1.drop(columns = 'Id')

In [20]:
sub_sd1.head()

   Cover_Type       Id
0           2  4000000
1           2  4000001
2           2  4000002
3           2  4000003
4           2  4000004

In [16]:
final = pd.concat([test_df, sub_sd1])

In [17]:
final.head()

          Id  Cover_Type
0  4000000.0         NaN
1  4000001.0         NaN
2  4000002.0         NaN
3  4000003.0         NaN
4  4000004.0         NaN

In [21]:
columns = ['Id','Cover_Type']

sub_sd1[columns]

             Id  Cover_Type
0       4000000           2
1       4000001           2
2       4000002           2
3       4000003           2
4       4000004           2
...         ...         ...
999995  4999995           2
999996  4999996           1
999997  4999997           2
999998  4999998           1
999999  4999999           3

[1000000 rows x 2 columns]

In [23]:
sub_sd1[columns].to_csv('sub3.csv',index = None)