In [1]:
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
test = pd.read_csv("test.csv", index_col = "id")
train = pd.read_csv("train.csv")

In [3]:
test.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f90,f91,f92,f93,f94,f95,f96,f97,f98,f99
id,,,,,,,,,,,,,,,,,,,,,
600000,0.003229,4.838660,585.529,2.282910,0.713180,3.907830,0.480696,1.482270,4.891810,0.056351,...,0.112910,1.073550,0.122149,0.086330,0.036010,0.010619,0.290343,1.898200,0.131533,0.012047
600001,0.008602,0.505536,-100.099,3.012670,0.027199,1.194610,5.036620,2.517440,4.553890,0.063876,...,-0.020214,2.622340,0.123307,0.033063,0.123059,0.005771,-0.392923,3.689640,0.047418,0.120015
600002,1.461000,2.437260,-112.964,3.541230,0.752338,4.338310,1.648080,4.699910,1.950250,0.005303,...,-0.011036,2.030180,-0.000426,0.084091,0.123605,0.499554,4.054650,3.330670,0.108843,0.064687
600003,0.140556,3.085610,179.451,0.573945,0.057342,2.216790,1.623480,0.526174,1.542540,-0.026160,...,0.050117,0.221613,0.045298,0.129966,0.004015,0.018279,2.696580,-0.533491,0.052524,0.011058
600004,0.128876,5.199760,107.466,-0.497149,0.080220,0.458121,0.629839,5.240460,-0.232279,0.030006,...,0.058860,2.660430,0.135425,0.036481,0.093912,0.056315,1.110710,3.584470,0.145319,-0.050393

In [4]:
train.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,target
0,0,0.106643,3.59437,132.8040,3.18428,0.081971,1.18859,3.73238,2.266270,2.09959,...,1.09862,0.013331,-0.011715,0.052759,0.065400,4.211250,1.97877,0.085974,0.240496,0
1,1,0.125021,1.67336,76.5336,3.37825,0.099400,5.09366,1.27562,-0.471318,4.54594,...,3.46017,0.017054,0.124863,0.154064,0.606848,-0.267928,2.57786,-0.020877,0.024719,0
2,2,0.036330,1.49747,233.5460,2.19435,0.026914,3.12694,5.05687,3.849460,1.80187,...,4.88300,0.085222,0.032396,0.116092,-0.001688,-0.520069,2.14112,0.124464,0.148209,0
3,3,-0.014077,0.24600,779.9670,1.89064,0.006948,1.53112,2.69800,4.517330,4.50332,...,3.47439,-0.017103,-0.008100,0.062013,0.041193,0.511657,1.96860,0.040017,0.044873,0
4,4,-0.003259,3.71542,156.1280,2.14772,0.018284,2.09859,4.15492,-0.038236,3.37145,...,1.91059,-0.042943,0.105616,0.125072,0.037509,1.043790,1.07481,-0.012819,0.072798,1

In [5]:
test.shape

(540000, 100)

In [6]:
train.shape

(600000, 102)

In [7]:
xtrain = train.drop(columns='id')

In [8]:
y = xtrain['target']
X = xtrain.drop(columns='target')

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [10]:
#scaler = MinMaxScaler()
#scaler.fit(X)

#cols = X.columns

#X = scaler.transform(X)
#X_final = scaler.transform(xtest)

#X = pd.DataFrame(X, columns = cols)
#X_final = pd.DataFrame(X_final, columns = cols)
#X_final.index = xtest.index

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [12]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred_test = model.predict(X_valid)
print(roc_auc_score(y_valid, y_pred_test))

0.751018531441472

In [13]:
model = LinearRegression()
model.fit(X, y)
y_pred_test = model.predict(test)
y_pred_df = pd.DataFrame(y_pred_test, columns=['target'])
y_pred_df['id'] = test.index

In [15]:
columns = ['id','target']

y_pred_df[columns]

             id    target
0        600000  0.661900
1        600001  0.598682
2        600002  0.782300
3        600003  0.482152
4        600004  0.545592
...         ...       ...
539995  1139995  0.635188
539996  1139996  0.621832
539997  1139997  0.516597
539998  1139998  0.623201
539999  1139999  0.631092

[540000 rows x 2 columns]

In [16]:
y_pred_df[columns].to_csv('sub2.csv',index = 0)